.fontBlack {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 20px;
    color: rgb(60, 60, 60);
    font-weight: bold;
}


.fontGrey {
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: rgb(60, 60, 60);
    font-size: 20px;
}